# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Sandesh WorkSpace\UpGrad\PG Diploma\Repos\UPGRAD-PG\CC6_Project_Sandesh\Sweet-Home\notification-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
